.hero{
display:inline-flex
}

.header{
	
    width: 100%;
    max-width: 1000px
}
body{
		width: auto;
		height: auto;
  }
}

}
.menu{
    text-align: right;
    padding:10px;
    margin-left: 250px;
    border-bottom: solid  #5d5d5d;

}
.menu li {
    list-style: none;
    display: inline;
    margin: 30px 20px;
}
.menu a{
    text-decoration: none;
    font-size: 30px;
    color: #000000
}

.text3 {

    font-size: 33px;
    margin: 150px;
    padding-left: 180px;
    color: #5d5d5d;
    font-family: "Segoe WP";
    font-style: normal;
    text-align: left;

}
.text3 img {

    border: 5px solid #373737;
    background-color: #373737;
}

.main_ipad{
    margin-top: 150px;
}
.text4{

    width: 318px;
    color: #848484;
    font-family: "Segoe WP";
    font-size: 10px;
    margin-left: 38px;
    text-align: left;
}

.conteiner{
    margin: auto; 
    width: 1000px;
}

.description{
    display: flex;
}

.article{
    display: flex;
}