

.block{
    @include flex ();
    width:1100px; 
    padding: 5px;
    background-image: url(../img/map.jpg);
    background-size: cover;
    justify-content: flex-end;
    flex-wrap: wrap;
    color:aliceblue;
}
    .heading{
        font-size: 34px;
        font-weight: 800;
        margin: 10px 0px;
        text-align: center;
    
        &__continent{
            width: 366px;
            height: 366px;
            &__continent--name{
        
                margin: 0px 20px 30px 20px;
                background-color: rgba(0, 0, 0, 0.233);
                width: 320px;
                height: 260px;
                &__continent--names{
                    display: flex;
                    text-align: center;
                    
        .flag{
            width: 100px;
            height: 60px;
            text-align: left;
        }
        
        .subtitle{
            font-size: 24px;
            text-align: center;
            margin: 10px;
        }
          
        }
    
            }
            
        }
    }
     
    
    






.usa{
    background:#144c75b0
}

.europe{
background: #602461b0;
}

.asia{
    background: #ad1010b0;
    
}

.africa{
    background: #fbff00b0;
   
}

.avstralia{
    background: #fa871bb0;
    
}


    
