.city{
    font-size: 20px;
    margin: 40px 0px 25px 20px;
}

.block__city{
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 20px 20px;
}

.city__name{
 margin: 10px;   
}